@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");


* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /* transition: fade-in;  */
    animation: fadeIn 0.3s ease-in;
}

body {
    background-image: url('D:\Luan_Van\TP_HoiVaCuoi\frontend\src\assets\images\bg.jpg');
    background-size: cover; /* Đảm bảo hình ảnh được điều chỉnh kích thước để phù hợp với toàn bộ cửa sổ trình duyệt */
    background-repeat: no-repeat; /* Ngăn chặn lặp lại hình ảnh nền */
    background-attachment: fixed;
  }


a {
    text-decoration: none !important;
}

html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #250826;
}

html::-webkit-scrollbar-thumb {
    background: #b300b3;
    opacity: 0.5;
    border-radius: 4rem;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
}

.heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #FF66CC;
}

.btn:hover {
    background-color: #e2a1c8;
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
}